body {
	background: powderblue;
}

header {
	background-color: black;
	overflow: auto;
	display: flex;
	align-items: center;
}

header > * {
	margin: 5vh auto;
}

h1 {
	font-size: 7vmax;
}

button:hover {
	cursor: pointer;
}

.grocery-and-basket-lists {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: -3vh;
}

#search-input {
	width: 40vw;
	margin: auto;
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#search-div {
	position: relative;
	width: 60vw;
	height: 60px;
	background-color: aliceblue;
	display: block;
	text-align: center;
}

#remove-all-button {
	width: 90%;
	margin-top: 1vh;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
